.header {
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 2rem;

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}
