:root {
    interpolate-size: allow-keywords;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(#FFFFFF, #c8c8c8);
    overflow: hidden;
}

.columns {
    display: flex;
    flex-direction: row;
}

#list {
    border: 1px dashed #8f8f8f;
    padding: 0;
    width: 400px;
    height: 350px;
    background-color: #a8a8a8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow: auto;

}
 #list .listItem {
    background: #dddddd;
    box-sizing: border-box;
    display: grid;
    column-gap: 12px;
    grid-template-columns: min-content auto 24px;
    grid-template-rows: 24px auto;
    grid-template-areas:
            "icon header cta"
            ". stateText cta";

    width: 100%;
    color: #333333;
    border-bottom: 1px solid rgb(50, 50, 50);
    padding: 16px 24px;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
}

#list div.fadeOut {
    animation: collapse 500ms linear;
    animation-fill-mode: forwards;
}

@keyframes collapse {
   to {
        height: 0;
        padding: 0 24px;
        border: none;
        opacity: 0;
   }
}


.icon {
    grid-area: icon;
    display: inline-block;
    width: 24px;
    border: 1px solid #333;
    border-radius: 24px;
    text-align: center;
}
.itemHeading {
    grid-area: header;
}
.subtitle {
    grid-area: stateText;
}
.cta {
    grid-area: cta;
} 
