html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #000428, #004e92);
    height: 100vh;
    /* width: 100vw; */
}
.heading {
    background: linear-gradient(to bottom, #330000, #f30105);
    background-clip: text;
    font-family: 'Lobster', cursive;
    color: transparent;
    font-size: 110px;
    text-align: center;
    margin-top: 200px;
    filter: drop-shadow(0px 0px 1px #FFF) drop-shadow(25px 25px 8px #000);
    z-index: 99;
    position: relative;
}

.canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    box-sizing: border-box;
    overflow: clip;

    &::before{
        content: "_";
        display: block;
        color:white;
        position: absolute;
        bottom:0;
        left:0;
       background: linear-gradient(to right, #ffffff, #bebebe);
        width: 100%;
        height: 0%;
        animation: growingSnow 60s 7s linear;
        animation-fill-mode: forwards;
        clip-path:  polygon(0% 0%, 25% 25%, 50% 0%, 75% 45%, 100% 0%, 100% 100%, 0% 100%);
    }

        &::after{
        content: "_";
        display: block;
        color:white;
        position: absolute;
        bottom:0;
        left:0;
       background: linear-gradient(to right, #ffffff, #bebebe);
        width: 50%;
        height: 0;
        animation: growingSnow 45s 8s linear;
        animation-fill-mode: forwards;
        clip-path:  polygon(0% 0%, 25% 25%, 50% 0%, 75% 25%,  100% 100%, 0% 100%);
    }
}

@keyframes growingSnow {
    to {
        height: 150px;
    }
}

.snowflake {
    position: absolute;
    top:-50px;
    left: 0;
    font-size: 30px;
    color: white;
}

.snowflake:nth-child(1) {
    --left-init: 10;
    --left-end: 50vw;
    --rotation: 360deg;
    left: 12%;
    animation: letItSnow 12s 5s linear infinite;
}
.snowflake:nth-child(2) {
    --left-init: 20vw;
    --left-end: 10vw;
    --rotation: -360deg;
    left: 8%;
    animation: letItSnow 11s 3s linear infinite;
}
.snowflake:nth-child(3) {
    --left-init: 30vw;
    --left-end: 60vw;
    --rotation: 180deg;
    left: 15%;
    animation: letItSnow 10s 1s linear infinite;
}
.snowflake:nth-child(4) {
    --left-init: 40vw;
    --left-end: 70vw;
    --rotation: -180deg;
    left: 20%;
    animation: letItSnow 13s 4s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(5) {
    --left-init: 50vw;
    --left-end: 20vw;
    --rotation: 360deg;
    left: 25%;
    animation: letItSnow 14s 2s linear infinite;
}
.snowflake:nth-child(6) {
    --left-init: 60vw;
    --left-end: 90vw;
    --rotation: -360deg;
    left: 30%;
    animation: letItSnow 12s 0s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(7) {
    --left-init: 70vw;
    --left-end: 40vw;
    --rotation: 180deg;
    left: 35%;
    animation: letItSnow 11s 5s linear infinite;
}
.snowflake:nth-child(8) {
    --left-init: 80vw;
    --left-end: 110vw;
    --rotation: -180deg;
    left: 40%;
    animation: letItSnow 10s 3s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(9) {
    --left-init: 90vw;
    --left-end: 60vw;
    --rotation: 360deg;
    left: 45%;
    animation: letItSnow 13s 1s linear infinite;
}
.snowflake:nth-child(10) {
    --left-init: 100vw;
    --left-end: 110vw;
    --rotation: -360deg;
    left: 50%;
    animation: letItSnow 14s 4s linear infinite;
}
.snowflake:nth-child(11) {
    --left-init: 90vw;
    --left-end: 80vw;
    --rotation: 180deg;
    left: 55%;
    animation: letItSnow 12s 2s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(12) {
    --left-init: 80vw;
    --left-end: 70vw;
    --rotation: -180deg;
    left: 60%;
    animation: letItSnow 11s 0s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(13) {
    --left-init: 70vw;
    --left-end: 60vw;
    --rotation: 360deg;
    left: 65%;
    animation: letItSnow 10s 5s linear infinite;
}
.snowflake:nth-child(14) {
    --left-init: 60vw;
    --left-end: 50vw;
    --rotation: -360deg;
    left: 70%;
    animation: letItSnow 13s 3s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(15) {
    --left-init: 50vw;
    --left-end: 40vw;
    --rotation: 180deg;
    left: 75%;
    animation: letItSnow 14s 1s linear infinite;
}
.snowflake:nth-child(16) {
    --left-init: 40vw;
    --left-end: 30vw;
    --rotation: -180deg;
    left: 80%;
    animation: letItSnow 12s 4s linear infinite;
}
.snowflake:nth-child(17) {
    --left-init: 30vw;
    --left-end: 20vw;
    --rotation: 360deg;
    left: 5%;
    animation: letItSnow 11s 2s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(18) {
    --left-init: 20vw;
    --left-end: 10vw;
    --rotation: -360deg;
    left: 10%;
    animation: letItSnow 10s 0s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(19) {
    --left-init: 10vw;
    --left-end: 0vw;
    --rotation: 180deg;
    left: 15%;
    animation: letItSnow 13s 5s linear infinite;
}
.snowflake:nth-child(20) {
    --left-init: 0vw;
    --left-end: 10vw;
    --rotation: -180deg;
    left: 20%;
    animation: letItSnow 14s 3s linear infinite;
}
.snowflake:nth-child(21) {
    --left-init: 10vw;
    --left-end: 20vw;
    --rotation: 360deg;
    left: 25%;
    animation: letItSnow 12s 1s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(22) {
    --left-init: 20vw;
    --left-end: 30vw;
    --rotation: -360deg;
    left: 30%;
    animation: letItSnow 11s 4s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(23) {
    --left-init: 30vw;
    --left-end: 40vw;
    --rotation: 180deg;
    left: 35%;
    animation: letItSnow 10s 2s linear infinite;
}
.snowflake:nth-child(24) {
    --left-init: 40vw;
    --left-end: 50vw;
    --rotation: -180deg;
    left: 40%;
    animation: letItSnow 13s 0s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(25) {
    --left-init: 50vw;
    --left-end: 60vw;
    --rotation: 360deg;
    left: 45%;
    animation: letItSnow 14s 5s linear infinite;
}
.snowflake:nth-child(26) {
    --left-init: 60vw;
    --left-end: 70vw;
    --rotation: -360deg;
    left: 50%;
    animation: letItSnow 12s 3s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(27) {
    --left-init: 70vw;
    --left-end: 80vw;
    --rotation: 180deg;
    left: 55%;
    animation: letItSnow 11s 1s linear infinite;
}
.snowflake:nth-child(28) {
    --left-init: 80vw;
    --left-end: 90vw;
    --rotation: -180deg;
    left: 60%;
    animation: letItSnow 10s 4s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(29) {
    --left-init: 90vw;
    --left-end: 100vw;
    --rotation: 360deg;
    left: 65%;
    animation: letItSnow 13s 2s linear infinite;
}
.snowflake:nth-child(30) {
    --left-init: 100vw;
    --left-end: 110vw;
    --rotation: -360deg;
    left: 70%;
    animation: letItSnow 14s 0s linear infinite;
}
.snowflake:nth-child(31) {
    --left-init: 10vw;
    --left-end: 20vw;
    --rotation: 180deg;
    left: 75%;
    animation: letItSnow 12s 5s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(32) {
    --left-init: 20vw;
    --left-end: 30vw;
    --rotation: -180deg;
    left: 80%;
    animation: letItSnow 11s 3s linear infinite;
}
.snowflake:nth-child(33) {
    --left-init: 30vw;
    --left-end: 40vw;
    --rotation: 360deg;
    left: 5%;
    animation: letItSnow 10s 1s linear infinite;
}
.snowflake:nth-child(34) {
    --left-init: 40vw;
    --left-end: 50vw;
    --rotation: -360deg;
    left: 10%;
    animation: letItSnow 13s 4s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(35) {
    --left-init: 50vw;
    --left-end: 60vw;
    --rotation: 180deg;
    left: 15%;
    animation: letItSnow 14s 2s linear infinite;
}
.snowflake:nth-child(36) {
    --left-init: 60vw;
    --left-end: 70vw;
    --rotation: -180deg;
    left: 20%;
    animation: letItSnow 12s 0s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(37) {
    --left-init: 70vw;
    --left-end: 80vw;
    --rotation: 360deg;
    left: 25%;
    animation: letItSnow 11s 5s linear infinite;
}
.snowflake:nth-child(38) {
    --left-init: 80vw;
    --left-end: 90vw;
    --rotation: -360deg;
    left: 30%;
    animation: letItSnow 10s 3s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(39) {
    --left-init: 90vw;
    --left-end: 100vw;
    --rotation: 180deg;
    left: 35%;
    animation: letItSnow 13s 1s linear infinite;
}
.snowflake:nth-child(40) {
    --left-init: 100vw;
    --left-end: 110vw;
    --rotation: -180deg;
    left: 40%;
    animation: letItSnow 14s 4s linear infinite;
}
.snowflake:nth-child(41) {
    --left-init: 90vw;
    --left-end: 80vw;
    --rotation: 360deg;
    left: 45%;
    animation: letItSnow 12s 2s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(42) {
    --left-init: 80vw;
    --left-end: 70vw;
    --rotation: -360deg;
    left: 50%;
    animation: letItSnow 11s 0s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(43) {
    --left-init: 70vw;
    --left-end: 60vw;
    --rotation: 180deg;
    left: 55%;
    animation: letItSnow 10s 5s linear infinite;
}
.snowflake:nth-child(44) {
    --left-init: 60vw;
    --left-end: 50vw;
    --rotation: -180deg;
    left: 60%;
    animation: letItSnow 13s 3s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(45) {
    --left-init: 50vw;
    --left-end: 40vw;
    --rotation: 360deg;
    left: 65%;
    animation: letItSnow 14s 1s linear infinite;
}
.snowflake:nth-child(46) {
    --left-init: 40vw;
    --left-end: 30vw;
    --rotation: -360deg;
    left: 70%;
    animation: letItSnow 12s 4s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(47) {
    --left-init: 30vw;
    --left-end: 20vw;
    --rotation: 180deg;
    left: 75%;
    animation: letItSnow 11s 2s linear infinite;
}
.snowflake:nth-child(48) {
    --left-init: 20vw;
    --left-end: 10vw;
    --rotation: -180deg;
    left: 80%;
    animation: letItSnow 10s 0s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(49) {
    --left-init: 10vw;
    --left-end: 0vw;
    --rotation: 360deg;
    left: 5%;
    animation: letItSnow 13s 5s linear infinite;
}
.snowflake:nth-child(50) {
    --left-init: 0vw;
    --left-end: 10vw;
    --rotation: -360deg;
    left: 10%;
    animation: letItSnow 14s 3s linear infinite;
}
.snowflake:nth-child(51) {
    --left-init: 10vw;
    --left-end: 20vw;
    --rotation: 180deg;
    left: 15%;
    animation: letItSnow 12s 1s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(52) {
    --left-init: 20vw;
    --left-end: 30vw;
    --rotation: -180deg;
    left: 20%;
    animation: letItSnow 11s 4s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(53) {
    --left-init: 30vw;
    --left-end: 40vw;
    --rotation: 360deg;
    left: 25%;
    animation: letItSnow 10s 2s linear infinite;
}
.snowflake:nth-child(54) {
    --left-init: 40vw;
    --left-end: 50vw;
    --rotation: -360deg;
    left: 30%;
    animation: letItSnow 13s 0s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(55) {
    --left-init: 50vw;
    --left-end: 60vw;
    --rotation: 180deg;
    left: 35%;
    animation: letItSnow 14s 5s linear infinite;
}
.snowflake:nth-child(56) {
    --left-init: 60vw;
    --left-end: 70vw;
    --rotation: -180deg;
    left: 40%;
    animation: letItSnow 12s 3s linear infinite;
    filter: blur(2px);
    font-size: 25.5px;
}
.snowflake:nth-child(57) {
    --left-init: 70vw;
    --left-end: 80vw;
    --rotation: 360deg;
    left: 45%;
    animation: letItSnow 11s 1s linear infinite;
}
.snowflake:nth-child(58) {
    --left-init: 80vw;
    --left-end: 90vw;
    --rotation: -360deg;
    left: 50%;
    animation: letItSnow 10s 4s linear infinite;
    filter: blur(1px);
    font-size: 27px;
}
.snowflake:nth-child(59) {
    --left-init: 90vw;
    --left-end: 100vw;
    --rotation: 180deg;
    left: 55%;
    animation: letItSnow 13s 2s linear infinite;
}
.snowflake:nth-child(60) {
    --left-init: 100vw;
    --left-end: 110vw;
    --rotation: -180deg;
    left: 60%;
    animation: letItSnow 14s 0s linear infinite;
}

  @keyframes letItSnow {
  
    from {
        transform: translate(var(--left-init), -50px) rotate(0deg);
    }
    to {
        transform: translate(var(--left-end), 110vh) rotate(var(--rotation));
    }
}