body {
    background-color: rgb(18,22,32); /*background_1*/
    color: rgb(140,	160, 197);/*text_1*/
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI";
}

svg {
    margin: 20px;
    background-color: rgb(12, 15,22);
    border: 1px solid rgb(5, 7, 12)
}

h1 {
    padding: 4px;
    border-radius: 3px;
    margin: 20px 0px;
    font-weight: 50;
    font-size: 2em;
    font-family: "Segoe UI Light","VWAG TheSans Light";
}
