.basicLayout {
    margin: 0 ;
    padding: 0;
   
}

.content {
    display: grid;
    /* grid-template-columns: repeat(var(--grid-columns), 1fr); */
    grid-template-columns: var(--grid-template-columns);
    gap: var(--grid-gap);
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 70px - var(--spacing-large));
    margin-bottom: 70px;
    color: var(--color-font);

    & > * {
        background-color: #33333322;
        grid-column: content;
    }
}

