html, body {
    margin: 0;
}

.header {
    position: fixed;
    height: 100px;
    background-color: aquamarine;
    width: 100vw;
    top: 0;
}

.content {
    margin-top: 110px;
    position: relative;
    width: 80vw;
    border: 1px solid red;
}

#sticky {
    position: sticky;
    top: 100px;
}

.text {
    display: block;
    height: 10000px;
    width: 100%;
}

.content button {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (min-width: 768px) {
    .header {
        background-color: brown;
    }
}

@media (min-width: 1024px) {
    .header {
        background-color: purple;
    }
}