.notificationScreen {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .notification {
    position: relative;
    width: 80%;
    padding: 0.5rem;
    margin-top: 0.5rem;

    border-radius: 5px;
    border-left: 2px solid;
    border-right: 2px solid;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    &.error {
      color: white;
      border-color: rgba(255, 0, 0, 1);
      background-color: rgba(255, 0, 0, 0.5);
    }

    &.info {
      color: white;
      border-color: rgb(0, 79, 125);
      background-color: rgba(0, 79, 125, 0.5);
    }

    &.success {
      color: white;
      border-color: rgb(0, 125, 37);
      background-color: rgba(0, 125, 37, 0.5);
    }

    &.warning {
      color: white;
      border-color: rgb(255, 165, 0);
      background-color: rgba(255, 165, 0, 0.5);
    }

    .message {
      font-size: 0.8rem;
      font-weight: 200;
    }

    .closeButton {
      position: absolute;
      top: 2px;
      right: 4px;
      padding: 0.5rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding-block: 0;
      padding-inline: 0;

      color: rgba(0, 0, 0, 0.7);
      font-size: 1.5rem;
    }
  }
}
